* {
    margin: 0;
    padding: 0;
    /* list-style: none;
    text-decoration: none; */
    box-sizing: border-box;
    text-decoration: none;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
}

::-webkit-scrollbar{
  width: 12px;
  /* background-color: #333; */
  background-color: #343a40;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#30ff00);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#00c6ff);
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background-color: #101010; */
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.nav-item {
  padding-right: 15px;
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  /* color: #475569; */
  color: #fff;
}

.nav-link:hover{
  color: #2196f3;
}

.logo2 img{
  width: 60%;
  padding-left: 40%;
 
}

/* CSS */
.button2 {
  display: flex;
  justify-content: right;
  padding-right: 20px;
  padding-top: -100;
}

.button2 a {
  color: #fff;
  font-size: 20px;
  font-size: 1.6rem;
  font-weight: 400;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Begin fotoslider */
* {box-sizing: border-box;}
.mySlides {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.slideshow-container img {
  vertical-align: middle;
  padding-top: 30px;
  width: 25%;

}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* Einde fotoslider */

/* html, body {
    height: 100%;
} */

body {
  /* background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 70%, rgba(2,0,36,1) 100%); */
  /* background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 45%, rgba(2,0,36,1) 100%); */
/* background-repeat: no-repeat; */
  background-color: #343a40;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}

h1{
  text-align: center;
  color: #fff;
}

.container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding-top: 50px;
}
.container .card
{
   width: 330px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   border-radius: 20px;
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container .card .content .imgBx
{
   width: 180px;
   /* background-color: black; */
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;

}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: #333;
   font-size: 1.7rem;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: #333;
   font-size: 1.2rem;
   text-align: center;
}
.container .card .content .sci
{
   margin-top: 20px;
}
.container .card .content .sci a
{
   text-decoration: none;
   color: #333;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
.container .card .content .sci a:hover
{
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.logo{
    padding-top: 10px;
    padding-left: 10px;
}

.logo img {
  width: 12%;
}

.videos{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

video {
    vertical-align: middle;
    padding-top: 30px;
    width: 40%;
    /* align-items: center; */
    justify-content: center;
    right: 5vh;
}

p {
  position: absolute;
  top: 75%;
  padding-left: 25%;
  color: #fff;
}

  /* responsive media query start */
  @media (max-width: 1104px){

  }

  @media (max-width: 991px){
    /* .max-width{
      padding: 0 50px;
    } */

  }

  @media (max-width: 947px){
    
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      /* background-color: #fff; */
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .logo2 img{
    width: 70%;
    padding-left: 30%;
   
  }

  .slideshow-container img {
    vertical-align: middle;
    padding-top: 30px;
    width: 50%;
  }

  }

  @media (max-width: 767px){
    .logo{ 
      padding-top: 10px;
      padding-left: 10px;
    }
    
    .logo img {
      width: 45%;
    }

    .logo2 img{
      width: 80%;
      padding-left: 10%;
     
    }

    .slideshow-container img {
      vertical-align: middle;
      padding-top: 30px;
      width: 100%;
    }

    .videos{
      display: flex;
      justify-content: center;
      justify-content: space-between;
  }

    p {
      position: absolute;
      top: 75%;
      padding-left: 25%;
      color: #fff;
    }
  }

  @media (max-width: 690px){
    .mySlides {
        display: flex;
        justify-content: center;
        align-items: center;
      }


      video{
        vertical-align: middle;
        padding-top: 30px;
        width: 100%;
    }
    
    /* .max-width{
      padding: 0 23px;
    } */

    /* .showcase-text .text-2 {
      font-size: 60px; */
      /* font-weight: 700; */
  /* } */
  
  /* .showcase-text .text-3 {
      font-size: 32px; */
      /* margin: 5px 0;
      font-weight: 700; */
  /* } */
  }

  @media (max-width: 500px){
    .mySlides {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    /* .showcase-text .text-2 {
      font-size: 30px; */
      /* font-weight: 700; */
  /* }
  
  .showcase-text .text-3 {
      font-size: 27px; */
      /* margin: 5px 0;
      font-weight: 700; */
  /* } */
  }

  @media (max-width: 357px){
    .mySlides {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    /* .showcase-text .text-2 {
      font-size: 25px; */
      /* font-weight: 700; */
  /* }
  
  .showcase-text .text-3 {
      font-size: 17px; */
      /* margin: 5px 0;
      font-weight: 700; */
  /* } */
  }